.search-section {
	display: none;
	position: absolute;
	top: 68px;
	left: 0;
	padding: 25px;
	padding-bottom: 30px;
	width: 100%;
	background-color: #fff;
	z-index: 1;
}
.search-box-section {
	top: 4px;
	left: 50%;
	width: 90%;
	border: 3px solid rgba(0, 100, 0, 1);
	border-radius: 25px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.search-box-section .user-cards {
	border: 3px solid #fff;
	padding: 20px 10px;
	background-color: #fff;
}
.search-box-section button,
.search-box-section input[type="search"] {
	display: inline-block;
	vertical-align: middle;
}
.search-box-section input[type="search"] {
	width: 95%;
	margin-left: auto;
}
.search-section .close-search {
	position: absolute;
	top: 50%;
	right: 55px;
	border: 0;
	font-size: 1rem;
	font-weight: 100;
	background: none;
	color: rgba(0, 100, 0, 1);
	transform: translateY(-50%);
}

.new_content {
	padding: 10px;
	padding-top: 85px;
	width: 100%;
	font-size: 0.8rem;
	font-weight: 400;
}
.new_content .common_wrapper {
	position: relative;
}
.new_content .new {
	position: absolute;
	top: -4px;
	left: 0;
	padding: 5px 10px;
	border: 0;
	border-radius: 20px;
	background-color: cyan;
	color: #fff;
}
.new_content .new_content_link {
	margin: 0 0 0 70px;
	padding: 2px 0 0 0;

}
.new_content .new_content_link a {
	text-decoration: none;
	color: rgba(0, 100, 0, 1);
	transition: letter-spacing 0.4s;
}
.new_content .new_content_link a:hover {
	letter-spacing: 1px;
}

/* banner starts here */
.banner {
	width: 100%;
	height: 100vh;
	text-align: center;
	background: #fff url('../img/img_bg.jpg') no-repeat fixed;
	background-position: 48% 120px;
	background-size: cover;
	overflow: auto;
	scrollbar-width: none;
}
.banner::-webkit-scrollbar {
	display: none;
}
.banner .banner_text {
	margin-top: 28%;
	padding: 0 10px;
	padding-bottom: 10px;
	font-family: 'Great Vibes', cursive;
	color: yellow;
	text-shadow: -10px 5px 5px green;
}
.banner_text h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 3rem;
	letter-spacing: 1px;
}
.banner_text h2 {
	font-family: 'Lobster Two', cursive;
	font-size: 2rem;
	letter-spacing: 1px;
}
.banner_text h2 span {
	position: relative;
	left: 170px;
}
.banner_text p {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	text-shadow: 0 0 0 green;
	border-radius: 8px;
	background-color: rgba(0,0,0,0.3);
	box-shadow: 0 0 5px 1px rgba(0,90,0,0.5);
}
.banner_text p:nth-child(3) {
	margin-top: 20px;
	margin-bottom: 15px;
	font-weight: bold;
	text-transform: uppercase;
}

/* content section starts here */
.content {
	width: 100%;
	padding: 10px;
}
.content .item.item-mt {
	margin-top: 5%;
}
.content .item {
	float: left;
	width: 30%;
	padding: 85px 0;
	margin: 0 5% 5% 0;
	border: 1px solid rgba(0, 90, 0, 0.5);
	border-radius: 8px;
	text-decoration: none;
	position: relative;
	overflow: hidden;
}
.content .item_image {
	position: absolute;
	top: -35px;
	left: 0;
	width: 100%;
	text-align: center;
}
.content .item_image img {
	max-width: 100%;
}

.content .item:nth-child(3) {
	margin-right: 0;
}
.content .item:nth-child(6) {
	margin-right: 0;
}
.content .item_text {
	font-family: 'Lobster Two', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	color: rgba(0,100,0,1);
	letter-spacing: 1px;
	text-align: center;
	text-shadow: 0 0 3px rgba(0,0,130,0.5);
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	margin: 0 auto;
	transition: transform 1s, text-shadow 1s;
	transition-timing-function: linear;
}
.content .item:nth-child(2) .item_text {
	top: 33%;
}
.content .item:nth-child(3) .item_text {
	top: 33%;
	left: 100px;
}
.content .item:hover .item_text {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	text-shadow: 0 0 0px rgba(0,0,130,0.5);
}

/* animations */
.new_anim {
	-webkit-animation: new_anim 1s linear 0s;
	animation: new_anim 1s linear 0s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes new_anim {
	0% { background-color: cyan; }
	10% { background-color: skyblue; }
	20% { background-color: blueviolet; }
	30% { background-color: blue; }
	40% { background-color: purple; }
	50% { background-color: blue; }
	60% { background-color: blueviolet; }
	70% { background-color: skyblue; }
	80% { background-color: coral; }
	90% { background-color: red; }
	100% { background-color: cyan; }
}

/* for functionality */
.My_slideInRight{
	display: block;
	-webkit-animation: resp_nav_anim 0.5s linear 0s;
	animation: resp_nav_anim 0.5s linear 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes resp_nav_anim {
	0% {
		opacity: 0.5;
		-webkit-transform: translate(100%, 0);
		transform: translate(100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

.My_slideOutRight{
	display: block;
	-webkit-animation: resp_nav_anim2 0.5s linear 0s;
	animation: resp_nav_anim2 0.5s linear 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes resp_nav_anim2 {
	0% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(100%, 0);
		transform: translate(100%, 0);
	}
}

/* media query */
@media only screen and (max-width:1024px) {

	.banner .banner_text {
		margin-top: 27%;
	}

	.content .item_text {
		font-size: 0.85rem;
	}
}

@media only screen and (max-width:992px) {
	.content .item {
		padding: 75px 0;
	}
}

@media only screen and (max-width: 768px) {
	.banner .banner_text {
		margin-top: 35%;
	}
	.banner_text h1 {
		font-size: 1.9rem;
	}
	.banner_text h2 {
		font-size: 1.5rem;
	}
	.banner_text h2 span {
		left: 130px;
	}
	.banner_text p {
		font-size: 0.9rem;
	}

	.content .item {
		padding: 53px 0;
	}
	.content .item_text {
		font-size: 0.6rem;
	}
	.content .item:nth-child(3) .item_text {
		left: 75px;
	}
	
}

@media only screen and (max-width:554px) {
	.search-box-section input[type="search"] {
		width: 88%;
	}
}

@media only screen and (max-width:480px) {
	.banner {
		background-position-x: 50%;
		background-position-y: 138px;
	}
	.banner .banner_text {
		margin-top: 65%;
	}
	.banner_text h1 {
		font-size: 1.8rem;
	}
	.banner_text h2 {
		font-size: 1.3rem;
	}
	.banner_text h2 span {
		left: 110px;
	}
	.banner_text p {
		font-size: 0.7rem;
	}

	.content .item {
		width: 100%;
		margin: 0 0 10px 0;
		padding: 80px 0;
		transition: none;
	}
	.content .item_image {
		top: -65px;
	}
	.content .item_text {
		font-size: 1rem;
	}
	.content .item:nth-child(3) .item_text {
		left: 100px;
	}
	.content .item:nth-child(2), .content .item:nth-child(3), .content .item:nth-child(5) {
		margin: 0 0 10px 0;
	}
}

@media only screen and (max-width:376px) {
	.banner .banner_text {
		margin-top: 73%;
	}
}

@media only screen and (max-width:320px) {

	.banner .banner_text {
		margin-top: 87%;
	}
	.banner {
		background-position-x: 51%;
	}
	.banner_text h1 {
		font-size: 1.5rem;
	}
	.banner_text h2 {
		font-size: 1.1rem;
	}
	.banner_text h2 span {
		left: 95px;
	}

	.content .item_text {
		font-size: 0.8rem;
	}
}