.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-bottom: 1rem;
}

input {
    font-size: 1rem;
}

.user-cards {
    position: absolute;
    top: 120%;
    left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: .25rem;
    width: 100%;
}

.card {
    /* display: none; */
    border-radius: 20px;
    border: 1px solid #000;
    background-color: #fff;
    padding: .5rem;
}

.card > .header {
    margin-bottom: .25rem;
}

.card > .header a {
    text-decoration: none;
    text-transform: capitalize;
    color: inherit;
}
.card > .header a:hover {
    color: #191787;
}

.card > .body {
    font-size: .8rem;
    color: #777;
}

.hide {
    display: none;
}

.show {
    display: block;
}