@font-face {
	src: url(../fonts/Roboto-Regular.ttf);
	font-family: 'Roboto', sans-serif;
	font-display: optional;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 20px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	scroll-behavior: smooth;
}

ul, li, a, p, hr {
	margin: 0;
	padding: 0;
}

/* navigation starts here */
.mynavigation {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: yellow;
	padding: 24px 10px;
	z-index: 20;
	box-shadow: 0 1px 3px 1px rgba(0, 128, 0, 0.5);
}
.mynavigation .common_wrapper {
	position: relative;
}

/* search CSS */
.search-box {
	position: absolute;
	top: -10px;
	left: 0;
	border: 0;
	border-radius: 18px;
	padding: 8px;
	border: 3px solid rgba(0, 100, 0, 1);
    color: rgba(0, 100, 0, 1);
}
.search-box button {
	border: 0;
	background: none;
	cursor: pointer;
}
.search-box button span {
	font-size: 1rem;
	color: rgba(0, 100, 0, 1);
}
.search-box input[type="search"] {
	border: 0;
	background: none;
	color: inherit;
}
.search-box input[type="search"]:focus {
	outline: none;
}

.mynavigation .logo {
	position: absolute;
	top: -108%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 30%;
}
.mynavigation .logo a {
	width: 100%;
	display: inline-block;
	text-decoration: none;
}
.mynavigation .logo .img {
	width: 100%;
	text-align: center;
}
.mynavigation .logo img {
	max-width: 100%;
}

.mynav {
	float: right;
	margin: 0;
}
.mynav li {
	float: left;
	list-style-type: none;
	margin-right: 40px;
	font-size: 1rem;
	font-weight: 300;
}
.mynav li.mr-0 {
	margin-right: 0;
}
.mynav li a {
	text-decoration: none;
	color: rgba(0, 100, 0, 1);
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.mynav li a:hover {
	color: grey;
}
.mynav .search-button-li {
	display: none;
}
.mynav .search-button-li button {
	border: 0;
	background: none;
	font-size: 0.8rem;
	color: rgba(0, 100, 0, 1);
}

.menu_btn {
	display: none;
	color: rgba(0, 100, 0, 1);
	cursor: pointer;
	float: right;
	margin-top: 10px;
	font-size: .7rem;
	font-weight: 400;
}


/* respo nav starts here */
.resp_nav {
	display: none;
	position: absolute;
	top: -35px;
	right: -10px;
	width: 75%;
	height: 100vh;
	background-color: #fff;
}
.btn_area {
	width: 100%;
	height: 58px;
	font-size: 1rem;
	font-weight: 100;
	padding: 18px 10px 10px 10px;
}
.close {
	float: right;
}
.nav_pg_1 {
	width: 100%;
	height: 100%;
}
.nav_pg_1 ul li {
	list-style-type: none;
	border-top: 1px solid darkgray;
}
.nav_pg_1 ul li:last-child {
	border-bottom: 1px solid darkgray;
}
.nav_pg_1 ul li a {
	display: inline-block;
	width: 100%;
	padding: 15px 25px;
	text-decoration: none;
	color: #000;
}


/* modal CSS */
.modal_container {
	padding: 0 10px;
}
.modal_container > a {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
	width: 100%;
	font-size: 1rem;
	font-weight: bold;
	color: rgba(0, 100, 0, 1);
	text-decoration: none;
	transition-property: all;
	transition-duration: 0.3s;
}
.modal_container a:hover {
	color: blue;
	text-shadow: 0 0 1px rgba(0, 100, 0, 1);
}
.modal_container a:last-child {
	margin-right: 0;
}
.waqiya_pg {
	display: none;
	position: fixed;
	top: 90px;
	left: 0;
	right: 0;
	max-width: 1200px;
	height: 88vh;
	margin: 0 auto;
	padding: 25px;
	border: 0;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 20px 0.1px rgba(0, 0, 0,0.5);
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
	z-index: 10;
}
.waqiya_pg::-webkit-scrollbar {
	display: none;
}
.waqiya_pg .waqiya_pg_close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 2rem;
	font-weight: 100;
	color: red;
	cursor: pointer;
}
.waqiya_pg .waqiya_pg_close::selection {
	background-color: transparent;
}
.waqiya_pg .waqiya_pg_close span::selection {
	background-color: transparent;
}
.waqiya_pg p {
	margin-bottom: 25px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 30px;
}
.main .read_more, .main .read_less {
	width: 150px;
	margin: 20px auto;
	padding: 10px 0;
	border: 0;
	border-radius: 20px;
	background-color: coral;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
.main .read_less {
	display: none;
}


/* footer starts here */
.footer {
	width: 100%;
	background-color: #f0f0f0;
	text-align: center;
}
.footer .sec1 {
	padding: 30px 0;
}
.footer .social_media a {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 5px;
	border: 1px solid #494949;
	border-radius: 100%;
	padding: 11px;
	font-size: 0.8rem;
	color: #494949;
	text-decoration: none;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.footer .social_media a:hover {
	border: 1px solid #32cf9d;
	color: #32cf9d;
}
.footer .sec2 {
	background-color: #fff;
	padding: 20px 0;
	color: #494949;
	font-size: 0.8rem;
	font-weight: 400;
	text-align: center;
}
.footer .sec2 p:nth-child(1) {
	margin-bottom: 10px;
}
.footer .sec2 p:nth-child(2) {
	text-align: right;
	font-size: 0.65rem;
	margin-right: 5px;
	color: grey;
}
.footer .sec2 a {
	color: #494949;
	text-decoration: none;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.footer .sec2 a:hover {
	color: #32cf9d;
}

/* contact page CSS */
.contact-body { padding-bottom: 186px; }
.contact-main {
	margin-top: 80px;
	padding: 20px 10px;
}
.contact-main .section { padding: 20px 0; }
.contact-main .section h3 {
	margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(0, 100, 0, 1);
    text-shadow: 0 0 5px rgba(0, 100, 0, 0.5);
}
.contact-main .section p,
.contact-main .section a {
	font-size: 1rem;
	font-weight: 400;
	line-height: 30px;
	color: #000;
	text-indent: 59px;
}
.contact-main .section a {
	display: inline-block;
	text-decoration: none;
	text-indent: 63px;
}
.contact-main .section a:hover { text-decoration: underline; }

.contact-main .section h3 .fa {
	width: 50px;
	text-align: center;
}

.contact-footer {
	position: fixed;
	bottom: 0;
	left: 0;
}

/* other classes */
.mr-0 {
	margin-right: 0;
}

.modal-open-body {
	overflow: hidden;
    padding-right: 17px;
}

.common_wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #000;
	opacity: 0.5;
	z-index: 10;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}


/* for functionality */
.My_slideInRight{
	display: block;
	-webkit-animation: resp_nav_anim 0.5s linear 0s;
	animation: resp_nav_anim 0.5s linear 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes resp_nav_anim {
	0% {
		opacity: 0.5;
		-webkit-transform: translate(100%, 0);
		transform: translate(100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

.My_slideOutRight{
	display: block;
	-webkit-animation: resp_nav_anim2 0.5s linear 0s;
	animation: resp_nav_anim2 0.5s linear 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes resp_nav_anim2 {
	0% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(100%, 0);
		transform: translate(100%, 0);
	}
}

.rotate_anim {
	-webkit-animation: rotate_anim 0.8s linear 0s;
	animation: rotate_anim 0.8s linear 0s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @keyframes rotate_anim {
	0% {
		-webkit-transform: rotate(0deg) scale(1);
		transform: rotate(0deg) scale(1);
	}
	100% {
		-webkit-transform: rotate(360deg) scale(1.1);
		transform: rotate(360deg) scale(1.1);
	}
 }

/* media query */
@media only screen and (max-width:1024px) {

	.mynavigation .logo {
		top: -91%;
	}

	.mynav li {
		margin-right: 28px;
		font-size: .8rem;
	}
}

@media only screen and (max-width:868px) {
	.mynavigation .logo {
		top: -98%;
		left: 0;
		margin: 0;
		width: 35%;
	}

	.mynav li.mr-0 {
		margin-right: 40px;
	}

	.search-box { display: none; }
	.search-box.search-box-section {
		display: block;
	}

	.mynav .search-button-li {
		display: block;
	}
}

@media only screen and (max-width:830px) {
	.mynavigation .logo {
		width: 38%;
	}
}

@media only screen and (max-width: 768px) {

	.mynavigation {
		padding: 19px 10px;
	}
	.mynav li {
		margin-right: 18px;
		font-size: 0.8rem;
	}
	.mynav li.mr-0 {
		margin-right: 18px;
	}

	.waqiya_pg {
		top: 73px;
	}
	.waqiya_pg p {
		font-size: 0.8rem;
		line-height: 25px;
	}

	.contact-main .section h3 {
		margin-bottom: 10px;
		font-size: 1.3rem;
	}
	.contact-main .section p,
	.contact-main .section a { font-size: 0.8rem; }

	.modal-open-body {
		padding-right: 0;
	}
	
}

@media only screen and (max-width: 680px) {
	.mynavigation .logo {
		width: 43%;
	}
}

@media only screen and (max-width: 576px) {
	.resp_nav {
		top: -12px;
	}
	
	.mynavigation {
		padding: 12px 10px;
	}
	.mynavigation .logo {
		top: -11px;
		width: 323px;
	}
	.mynav {
		display: none;
	}

	.menu_btn {
		display: block;
		margin-bottom: 7px;
		font-size: 1rem;
	}

	.waqiya_pg {
		top: 63px;
	}
	.waqiya_pg p {
		text-align: justify;
	}
	.main .read_more, .main .read_less {
		width: 100%;
		padding: 8px 0;
		border-radius: 0;
		font-size: 0.8rem;
	}

	.footer .social_media a {
		transition: none;
	}
	.footer .social_media a:hover {
		border: unset;
		color: unset;
	}
	.footer .sec2 p:nth-child(2) {
		text-align: center;
	}
	.footer .sec2 a:hover {
		color: unset;
	}
}

@media only screen and (max-width:420px) {
	
	.mynavigation .logo {
		top: -3px;
		width: 280px;
	}
	
}

@media only screen and (max-width:380px) {
	.mynavigation .logo {
		top: 0px;
		width: 253px;
	}

	.menu_btn { font-size: 0.9rem; }
}

@media only screen and (max-width:345px) {
	
	.mynavigation .logo {
		left: -5px;
	}
	.menu_btn {
		font-size: 0.9rem;
		margin-right: -5px;
	}

}

@media only screen and (max-width:335px) {
	.menu_btn {
		text-align: center;
	}
	.mobile-s {
		display: block;
	}

	.mynavigation {
		padding: 0 10px;
	}
	.mynavigation .logo {
		top: 9px;
	}
}

@media only screen and (max-width:320px) {

	.resp_nav {
		top: 0px;
		width: 110%;
	}

	.waqiya_pg { top: 53px; }
	.modal_container a { font-size: 0.9rem; }

	.contact-main .section h3 { font-size: 1rem; }
	.contact-main .section p,
	.contact-main .section a { font-size: 0.8rem; }
}