/* books section starts here */
.books_section {
	margin-top: 73px;
	padding: 10px;
	color: rgba(0, 100, 0, 1);
}
.books_section h1 {
	margin-left: 20px;
	text-shadow: -3px 3px 5px rgba(0, 100, 0, 0.5);
}
.books_section .boxs_container {
	margin-top: 20px;
}
.boxs_container .box {
	float: left;
	width: 200px;
	margin: 20px;
	text-align: center;
}
.box .top {
	width: 100%;
}
.box .top h2 {
	float: left;
	margin-bottom: 5px;
	font-size: 0.63rem;
	font-weight: bold;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.box .top a {
	float: right;
	font-size: 0.68rem;
	text-decoration: none;
	color: rgba(0, 50, 0, 1);
}
.box .thumbnail {
	width: 100%;
	margin-bottom: 5px;
	border: 0;
	box-shadow: 0 0 15px 2px rgba(0, 100, 0, 0.5);
}
.box .thumbnail img {
	width: 100%;
}
.box .read_btn {
	font-size: 0.8rem;
	font-weight: bold;
	text-decoration: none;
	color: rgba(0, 80, 0, 0.8);
	transition-duration: 0.5s;
	transition-property: color;
}
.box .read_btn:hover {
	color: rgba(0, 80, 0, 1);
}


/* for functionality */
.download_btn_anim {
	-webkit-animation: download_btn_anim 0.5s linear 0s;
	animation: download_btn_anim 0.5s linear 0s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes download_btn_anim {
	0% { color: rgba(0, 50, 0, 1); }
	10% { color: rgba(0, 60, 0, 1); }
	20% { color: rgba(0, 70, 0, 1); }
	30% { color: rgba(0, 80, 0, 1); }
	40% { color: rgba(0, 90, 0, 1); }
	50% { color: rgba(0, 100, 0, 1); }
	60% { color: rgba(0, 90, 0, 1); }
	70% { color: rgba(0, 80, 0, 1); }
	80% { color: rgba(0, 70, 0, 1); }
	90% { color: rgba(0, 60, 0, 1); }
	100% { color: rgba(0, 50, 0, 1); }
}

/* media query */
@media only screen and (max-width:1025px) {

	.books_section h1 {
		margin-left: 43px;
	}
	.books_section .boxs_container {
		max-width: 960px;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 769px) {

	.books_section h1 {
		margin-left: 33px;
	}
	.books_section .boxs_container {
		max-width: 720px;
		margin: 0 auto;
	}
}

@media only screen and (max-width:426px) {

	.books_section h1 {
		margin-left: 0;
		font-size: 2rem;
	}
	.boxs_container .box {
		width: 100%;
		margin: 0 0 10px 0;
	}
	.box .top h2 {
		font-size: 0.8rem;
	}
	.box .top a {
		font-size: 0.8rem;
	}
}