/* personalities_container starts */
.personalities_section {
	width: 100%;
	margin-top: 75px;
}
.personalities_section h1 {
	margin-bottom: 10px;
	font-size: 2.3rem;
	font-weight: bold;
	color: rgba(0, 100, 0, 1);
	text-shadow: -3px 3px 5px rgba(0, 100, 0, 0.5);
}
.personalities_container {
	padding: 0 10px;
	padding-top: 15px;
}
.personalities_container a {
	float: left;
	margin-right: 23px;
	margin-bottom: 15px;
	font-size: 1rem;
	font-weight: bold;
	color: rgba(0, 100, 0, 1);
	text-decoration: none;
	transition-property: all;
	transition-duration: 0.3s;
}
.personalities_container a:hover {
	color: blue;
	text-shadow: 0 0 1px rgba(0, 100, 0, 1);
}
.personalities_container a:last-child {
	margin-right: 0;
}
.personality_pg {
	display: none;
	position: fixed;
	top: 10.5%;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 1200px;
	height: 88vh;
	background-color: #fff;
	margin: 0 auto;
	padding: 25px;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 0 20px 0.1px rgba(0, 0, 0,0.5);
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
	z-index: 10;
}
.personality_pg::-webkit-scrollbar {
	display: none;
}
.pers_pg_close {
	position: absolute;
	top: 15px;
	right: 18px;
	font-family: cursive;
	font-size: 1.5rem;
	font-weight: 100;
	color: red;
	cursor: pointer;
}
.personality_img {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.personality_img img {
	max-width: 100%;
}
.personality_pg h1 {
	font-size: 1.5rem;
	text-align: center;
	text-shadow: none;
}
.personality_pg p {
	margin-bottom: 25px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 30px;
}
.personality_pg address {
	margin: 15px 0 10px 0;
	font-size: 1rem;
	font-style: normal;
	color: rgba(0, 100, 0, 1);
	text-align: center;
}


/* for functionality */
.My_slideOutRight{
	display: block;
	-webkit-animation: resp_nav_anim2 0.5s linear 0s;
	animation: resp_nav_anim2 0.5s linear 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes resp_nav_anim2 {
	0% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(100%, 0);
		transform: translate(100%, 0);
	}
}

.slideIn_right_anim {
	-webkit-animation: slideIn_right_anim 0.5s ease-in-out 0s;
	animation: slideIn_right_anim 0.5s ease-in-out 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-transform-origin: left top;
	transform-origin: left top;
}
@keyframes slideIn_right_anim {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.slideOut_left_anim {
	-webkit-animation: slideOut_left_anim 0.5s ease-in-out 0s;
	animation: slideOut_left_anim 0.5s ease-in-out 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-transform-origin: right top;
	transform-origin: right top;
}
@keyframes slideOut_left_anim {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}

.rotate_anim {
	-webkit-animation: rotate_anim 0.5s linear 0s;
	animation: rotate_anim 0.5s linear 0s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes rotate_anim {
	0% {
		-webkit-transform: rotate(0deg) scale(1);
		transform: rotate(0deg) scale(1);
	}
	100% {
		-webkit-transform: rotate(360deg) scale(1.1);
		transform: rotate(360deg) scale(1.1);
	}
}


/* media query */