/* personalities_container starts */
.personalities_section {
	width: 100%;
	margin-top: 75px;
}
.personalities_section h1 {
	margin-bottom: 10px;
	font-size: 2.3rem;
	font-weight: bold;
	color: rgba(0, 100, 0, 1);
	text-shadow: -3px 3px 5px rgba(0, 100, 0, 0.5);
}
.modal_container {
	padding: 0 10px;
	padding-top: 15px;
}
.modal_container a {
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
	font-size: 1rem;
	font-weight: bold;
	color: rgba(0, 100, 0, 1);
	text-decoration: none;
	transition-property: all;
	transition-duration: 0.3s;
}
.modal_container a:hover {
	color: blue;
	text-shadow: 0 0 1px rgba(0, 100, 0, 1);
}
.modal_container a:last-child {
	margin-right: 0;
}
.personality_pg {
	display: none;
	position: fixed;
	top: 53%;
	left: 50%;
	width: 1200px;
	width: 70%;
	height: 88vh;
	background-color: #fff;
	margin: 0 auto;
	padding: 25px;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 0 20px 0.1px rgba(0, 0, 0,0.5);
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
	z-index: 10;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.personality_pg::-webkit-scrollbar {
	display: none;
}
.pers_pg_close {
	position: absolute;
	top: 13px;
	right: 13px;
	font-size: 2rem;
	font-weight: 100;
	color: red;
	cursor: pointer;
}
.personality_img {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.personality_img img {
	max-width: 100%;
}
.personality_pg h1 {
	font-size: 1.5rem;
	text-align: center;
	text-shadow: none;
}
.personality_pg p {
	margin-bottom: 25px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 30px;
}
.personality_pg address {
	margin: 15px 0 10px 0;
	font-size: 1rem;
	font-style: normal;
	color: rgba(0, 100, 0, 1);
	text-align: center;
}


/* for functionality */
.My_slideOutRight{
	display: block;
	-webkit-animation: resp_nav_anim2 0.5s linear 0s;
	animation: resp_nav_anim2 0.5s linear 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes resp_nav_anim2 {
	0% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(100%, 0);
		transform: translate(100%, 0);
	}
}

.rotate_anim {
	-webkit-animation: rotate_anim 0.5s linear 0s;
	animation: rotate_anim 0.5s linear 0s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes rotate_anim {
	0% {
		-webkit-transform: rotate(0deg) scale(1);
		transform: rotate(0deg) scale(1);
	}
	100% {
		-webkit-transform: rotate(360deg) scale(1.1);
		transform: rotate(360deg) scale(1.1);
	}
}

.modal_show_anim {
	-webkit-animation: modal_show_anim 0.5s linear 0s;
	animation: modal_show_anim 0.5s linear 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes modal_show_anim {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.modal_hide_anim {
	-webkit-animation: modal_hide_anim 0.5s linear 0s;
	animation: modal_hide_anim 0.5s linear 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes modal_hide_anim {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* media query */
@media only screen and (max-width:1200px) {
 .personality_pg {
	 top: 55%;
	 width: 100%;
	 height: 95vh;
 }
}

@media only screen and (max-width:769px) {
	.personality_pg {
		padding: 20px;
	}
	.personality_pg h1 {
		font-size: 1rem;
	}
	.personality_pg p {
		margin-bottom: 20px;
		font-size: 0.7rem;
		line-height: 23px;
	}
}

@media only screen and (max-width:481px) {
	.modal_container a {
		font-size: 0.8rem;
	}
	.personality_pg {
		top: 53%;
		height: 95.5vh;
	}
}

@media only screen and (max-width:320px) {
	.resp_nav {
		width: 100%;
	}

	.personalities_section {
		margin-top: 50px;
	}

	.modal_container a {
		font-size: 0.7rem;
	}

	.personality_pg {
		top: 410px;
		height: 94vh;
	}
	.personality_pg address {
		font-size: 0.8rem;
	}
	.personality_pg h1 {
		font-size: 0.9rem;
	}
}