/* genealogical CSS */
.modal_container.genealogical_section {
	height: 130px;
	overflow: hidden;
}
.genealogical_container {
	padding: 0 10px;
}
.genealogical_container p {
	margin-bottom: 20px;
}

/* main starts here */
.main {
	margin-top: 80px;
	padding: 20px 10px;
}

/* section CSS */
.section {
	padding: 20px 0;
}
.section h1 {
	margin-bottom: 20px;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 1px;
	color: rgba(0, 100, 0, 1);
	text-shadow: 0 0 5px rgba(0, 100, 0, 0.5);
}

/* quotes CSS starts here */
.quotes {
	width: 100%;
	height: 200px;
	padding: 20px 0;
	overflow: hidden;
}
.quates_ul {
	padding: 0 10px;
	width: 100%;
	list-style: none;
	font-family: 'Lobster Two', cursive;
	font-size: 1rem;
	letter-spacing: 2px;
}
.quates_ul li span {
	display: inline-block;
	vertical-align: top;
}
.quates_ul li span:nth-child(1) {
	width: 1.4%;
	font-size: 2rem;
}
.quates_ul li span:nth-child(2) {
	margin-top: 18px;
	padding-left: 8px;
	width: 98%;
}

/* taleemat e warsiya */


/* waqiyat CSS starts here */
.main .waqiyat {
	width: 100%;
	height: 150px;
	overflow: hidden;
}


/* other CSS */
.mb-0 {
	margin-bottom: 0 !important;
}

.modal-open-body {
	overflow: hidden;
    padding-right: 0px;
}

/* for functionality */
.My_slideOutRight{
	display: block;
	-webkit-animation: resp_nav_anim2 0.5s linear 0s;
	animation: resp_nav_anim2 0.5s linear 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes resp_nav_anim2 {
	0% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(100%, 0);
		transform: translate(100%, 0);
	}
}

.rotate_anim {
	-webkit-animation: rotate_anim 0.5s linear 0s;
	animation: rotate_anim 0.5s linear 0s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @keyframes rotate_anim {
	0% {
		-webkit-transform: rotate(0deg) scale(1);
		transform: rotate(0deg) scale(1);
	}
	100% {
		-webkit-transform: rotate(360deg) scale(1.1);
		transform: rotate(360deg) scale(1.1);
	}
 }

.modal_show_anim {
	-webkit-animation: modal_show_anim 0.5s linear 0s;
	animation: modal_show_anim 0.5s linear 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes modal_show_anim {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
.modal_hide_anim {
	-webkit-animation: modal_hide_anim 0.5s linear 0s;
	animation: modal_hide_anim 0.5s linear 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes modal_hide_anim {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


/* media query */
@media only screen and (max-width: 768px) {

	.section {
		padding: 10px 0;
	}
	.section h1 {
		margin-bottom: 10px;
		font-size: 1.3rem;
	}

	.genealogical_container p {
		margin-bottom: 12px;
		font-size: 0.8rem;
	}

	.quates_ul {
		font-size: 0.8rem;
		line-height: 25px;
	}
	.quates_ul li span:nth-child(2) {
		margin-top: 5px;
		padding-left: 8px;
	}
	
}

@media only screen and (max-width:480px) {
	.genealogical_container p {
		margin-bottom: 10px;
	}

	.quates_ul li span:nth-child(1) {
		font-size: 1.8rem;
	}

}

@media only screen and (max-width:320px) {
	.main {
		margin-top: 50px;
	}

	.section h1 {
		font-size: 1rem;
	}

	.genealogical_container p {
		margin-bottom: 12px;
		font-size: 0.65rem;
	}

	.quates_ul {
		font-size: 0.65rem;
	}
}