/* main starts here */
.main {
	margin-top: 80px;
	padding: 20px 10px;
}

/* section CSS */
.section {
	padding: 20px 0;
}
.section h1 {
	margin-bottom: 20px;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 1px;
	color: rgba(0, 100, 0, 1);
	text-shadow: 0 0 5px rgba(0, 100, 0, 0.5);
}

/* quotes CSS starts here */
.quotes {
	width: 100%;
	padding: 20px 0;
}
.quates_ul {
	padding: 0 10px;
	width: 100%;
	list-style: none;
	font-family: 'Lobster Two', cursive;
	font-size: 1rem;
	letter-spacing: 2px;
}
.quates_ul li span {
	display: inline-block;
	vertical-align: top;
}
.quates_ul li span:nth-child(1) {
	width: 1.4%;
	font-size: 2rem;
}
.quates_ul li span:nth-child(2) {
	margin-top: 18px;
	padding-left: 8px;
	width: 98%;
}

/* taleemat e warsiya */


/* waqiyat CSS starts here */
.main .waqiyat {
	width: 100%;
	height: 130px;
}
.modal_container {
	padding: 0 10px;
}
.modal_container a {
	margin-right: 15px;
	font-size: 1rem;
	font-weight: bold;
	color: rgba(0, 100, 0, 1);
	text-decoration: none;
	transition-property: all;
	transition-duration: 0.3s;
}
.modal_container a:hover {
	color: blue;
	text-shadow: 0 0 1px rgba(0, 100, 0, 1);
}
.modal_container a:last-child {
	margin-right: 0;
}
.waqiya_pg {
	display: none;
	position: fixed;
	top: 54%;
	left: 50%;
	width: 70%;
	height: 88vh;
	background-color: #fff;
	padding: 25px;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 0 20px 0.1px rgba(0, 0, 0,0.5);
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
	z-index: 10;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.waqiya_pg::-webkit-scrollbar {
	display: none;
}
.waqiya_pg .waqiya_pg_close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 2rem;
	font-weight: 100;
	color: red;
	cursor: pointer;
}
.waqiya_pg p {
	margin-bottom: 25px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 30px;
}
.main .read_more, .main .read_less {
	width: 150px;
	margin: 20px auto;
	padding: 10px 0;
	border: 0;
	border-radius: 20px;
	background-color: coral;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
.main .read_less {
	display: none;
}


/* for functionality */
.My_slideOutRight{
	display: block;
	-webkit-animation: resp_nav_anim2 0.5s linear 0s;
	animation: resp_nav_anim2 0.5s linear 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes resp_nav_anim2 {
	0% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(100%, 0);
		transform: translate(100%, 0);
	}
}

.rotate_anim {
	-webkit-animation: rotate_anim 0.5s linear 0s;
	animation: rotate_anim 0.5s linear 0s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @keyframes rotate_anim {
	0% {
		-webkit-transform: rotate(0deg) scale(1);
		transform: rotate(0deg) scale(1);
	}
	100% {
		-webkit-transform: rotate(360deg) scale(1.1);
		transform: rotate(360deg) scale(1.1);
	}
 }

.modal_show_anim {
	-webkit-animation: modal_show_anim 0.5s linear 0s;
	animation: modal_show_anim 0.5s linear 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes modal_show_anim {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
.modal_hide_anim {
	-webkit-animation: modal_hide_anim 0.5s linear 0s;
	animation: modal_hide_anim 0.5s linear 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes modal_hide_anim {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* media query */
@media only screen and (max-width:1200px) {

	.waqiya_pg {
		width: 100%;
		height: 92vh;
	}
}

@media only screen and (max-width: 769px) {

	.section {
		padding: 10px 0;
	}
	.section h1 {
		margin-bottom: 10px;
		font-size: 1.3rem;
	}

	.quates_ul {
		font-size: 0.8rem;
		line-height: 25px;
	}
	.quates_ul li span:nth-child(2) {
		margin-top: 5px;
		padding-left: 8px;
	}

	.waqiya_pg p {
		font-size: 0.8rem;
		line-height: 25px;
	}
	
}

@media only screen and (max-width:481px) {
	.quates_ul li span:nth-child(1) {
		font-size: 1.8rem;
	}

	.waqiya_pg {
		top: 53%;
		padding: 15px;
		height: 94vh;
	}
	.waqiya_pg p {
		text-align: justify;
	}
	.main .read_more, .main .read_less {
		width: 100%;
		padding: 8px 0;
		border-radius: 0;
		font-size: 0.8rem;
	}

}

@media only screen and (max-width:320px) {
	.resp_nav {
		width: 100%;
	}
	.main {
		margin-top: 50px;
	}

	.section h1 {
		font-size: 1rem;
	}

	.quates_ul {
		font-size: 0.65rem;
	}

	.modal_container a {
		font-size: 0.9rem;
	}
	.waqiya_pg h1 {
		font-size: 1.3rem;
	}
	.waqiya_pg .waqiya_pg_close {
		font-size: 1.8rem;
	}
}